Source: libjson++
Priority: extra
Maintainer: Richard Kojedzinszky <krichy@cflinux.hu>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.9.1
Section: libs

Package: libjson++-dev
Section: libdevel
Architecture: any
Depends: libjson++ (= ${binary:Version})
Description: A small, fast C++ interface for handling JSON structures
 This small and efficient library helps handling with JSON structures
 with its intuitive interface. Serializing to/from STL streams is supported.
 .
 This package containts the development files.

Package: libjson++
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: A small, fast C++ interface for handling JSON structures
 This small and efficient library helps handling with JSON structures
 with its intuitive interface. Serializing to/from STL streams is supported.
 .
 This package containts the runtime libraries.
